/* NAV BAR - CATEGORY  */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 650px;
}

.category-list li {
  display: inline-block;
  text-align: center;
}

nav .category-list {
  text-transform: uppercase;
  max-inline-size: max-content;
  grid-gap: 20px;
}

hr {
  height: 0.25rem;
  width: 10%;
  margin: 0;
  background: rgb(26, 103, 17);
  border: none;
  transition: 0.3s ease-in-out;
  margin-left: 7%;
}

hr.line1 {
  display: none;
}

li.podcast:hover ~ hr {
  margin-left: 27%;
}

li.genres:hover ~ hr {
  margin-left: 47%;
}

li.new:hover ~ hr {
  margin-left: 70%;
}

li.discover:hover ~ hr {
  margin-left: 88%;
}

.category-list li a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 850px) {
  hr.line1 {
    display: block;
  }

  hr.line2 {
    display: none;
  }

  hr.line1 {
    margin-left: 15%;
  }

  li.podcast:hover ~ hr {
    margin-left: 15%;
  }

  li.genres:hover ~ hr {
    margin-left: 15%;
  }
}
