.spotify-logo--text {
  width: 130px;
}

.spotify-logo {
  display: none;
}

.logo-container {
  padding: 20px 24px;
}

.left-menu nav svg {
  width: 30px;
}

.left-menu .active {
  color: white;
  font-weight: 800;
}

.left-menu ul {
  padding-bottom: 20px;
}

.left-menu nav li {
  padding-left: 24px;
  padding-right: 24px;
}

.left-menu nav h2 {
  font-size: 0.8rem;
}

.left-menu svg.plus {
  background-color: var(--small-text-colour);
}

.left-menu .fixed {
  position: fixed;
  bottom: 80px;
  width: 250px;
  background-color: black;
  padding: 0 20px;
}

.left-menu .fixed a {
  display: block;
  padding: 10px 0;
}

.left-menu .fixed .two-column-ali-cen {
  border-top: 1px solid;
}

.left-menu .fixed svg.download {
  width: 20px;
  fill: var(--small-text-colour);
}

.left-menu .fixed svg {
  color: var(--small-text-colour);
}

@media only screen and (max-width: 650px) {
  .spotify-logo--text {
    display: none;
  }

  .spotify-logo {
    display: block;
    width: 30px;
  }

  .logo-container {
    padding: 20px 10px;
  }

  .playlist {
    display: none;
  }

  .left-menu span {
    display: none;
  }

  .left-menu nav li {
    padding-left: 10px;
    padding-right: 10px;
  }

  .left-menu .fixed {
    width: 50px;
    padding: 0 10px;
    align-self: center;
  }
  .left-menu .fixed .two-column-ali-cen {
    border-top: none;
  }
}
